<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% with status_messages = get_flashed_messages(with_categories = true)%}
        {% if status_messages %}
        <section>
            {% for category, msg in status_messages %}
            <p class="{{ category }}">{{ msg }}</p>
            {% endfor %}
        </section>

        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>