{% extends 'base.html' %}

{% block title %}
{{ survey.title }} - Question {{ question.number + 1 }}
{% endblock %}

{% block content %}
<form class="d-flex flex-column justify-content-center align-items-center py-5"
    action="/survey/{{ survey.code }}/answer" method="post">
    <input type="hidden" name="ques_num" value="{{ question.number }}" />
    <p class="my-5 fs-3">{{ question.question_instance.question }}</p>
    {% for choice in question.question_instance.choices %}
    <div class="my-2 fs-5">
        <input id="ans-{{ loop.index0 }}"
            type="radio"
            name="answer"
            value="{{ choice }}" />
        <label for="ans-{{ loop.index0 }}">{{ choice }}</label>
    </div>
    {% endfor %}
    {% if question.question_instance.allow_text %}
    <div class="p-5">
        <label for="ans-comment">Comment:</label>
        <br />
        <textarea id="ans-comment" name="comment" cols="50" rows="4"></textarea>
    </div>
    {% endif %}
    {% if question.number > 0 %}
    <button class="btn btn-primary btn-lg my-5" name="go" value="previous">Previous</button>
    {% endif %}
    <button class="btn btn-primary btn-lg my-5" name="go" value="next">Next</button>
</form>
{% endblock %}