{% extends 'base.html' %}

{% block title %}Survey{% endblock %}

{% block content %}
{% with status_messages = get_flashed_messages(with_categories = true)%}
{% if status_messages %}
<section>
    {% for category, msg in status_messages %}
    <p class="{{ category }}">{{ msg }}</p>
    {% endfor %}
</section>

{% endif %}
{% endwith %}
<form action="/answer" method="post">
    <label>{{ question.question }}</label>
    <br />
    {% for choice in question.choices %}
    <input id="ans-{{ loop.index0 }}" type="radio" name="answer"
        value="{{ choice }}" />
    <label for="ans-{{ loop.index0 }}">{{ choice }}</label><br />
    {% endfor %}
    <button>Submit</button>
</form>
{% endblock %}